.price {
  align-items: center;
}

.cuisine {
  align-items: center;
}

.row {
  padding-top: 20px;
  padding-left: 30px;
}

.btn {
  background-color: #8EA466;
  color: #F9F4E6;
  height: 3em !important;
}

.selected {
  background-color: #76845C;
}
body {
  background-color: #F9F4E6
}
